{
	"presets": [
		[
			"@babel/preset-env", // 将基于你的实际浏览器及运行环境，自动的确定babel插件及polyfill
			{
				"corejs": 3,
				"useBuiltIns": "usage", // 按需使用
				"modules": false // 意思是不转义import语法，主要是为了tree-shaking
			}
		],
		"@babel/preset-react",
		"@babel/preset-typescript"
	],
	"plugins": [
		["import", { "libraryName": "antd", "libraryDirectory": "es", "style": true }],
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		]
	]
}
